<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorShapeInset</key>
	<string>characterStageVisibility</string>
	<key>asyncStageTail</key>
	<string>profileChainDuration</string>
	<key>configurationTypeDistance</key>
	<string>numericalNavigatorSaturation</string>
	<key>delegateStyleBehavior</key>
	<string>groupFromProcess</string>
	<key>directModulusTop</key>
	<string>ignoredMonsterTail</string>
	<key>geometricScreenDepth</key>
	<string>dedicatedCallbackDirection</string>
	<key>injectionFormDuration</key>
	<string>immutableChecklistContrast</string>
	<key>scaffoldJobSpacing</key>
	<string>metadataModeAppearance</string>
	<key>usageThroughTier</key>
	<string>injectionPatternPosition</string>
</dict>
</plist>
