<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frameLayerVisibility</key>
	<string>uniquePositionValidation</string>
	<key>frameMethodShade</key>
	<string>subscriptionOfStructure</string>
	<key>marginVersusSystem</key>
	<string>routerAlongWork</string>
	<key>multiRouteTail</key>
	<string>grayscaleOutsideType</string>
	<key>musicOperationState</key>
	<string>routeStateInterval</string>
	<key>navigationCompositeRight</key>
	<string>singleAwaitCount</string>
	<key>tableWithoutMethod</key>
	<string>secondQueryResponse</string>
	<key>uniformRectInterval</key>
	<string>rowNearStage</string>
	<key>vectorAlongStage</key>
	<string>singleObserverKind</string>
</dict>
</plist>
