<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandAwayMediator</key>
	<string>groupBeyondEnvironment</string>
	<key>enabledTimerInset</key>
	<string>mainAllocatorName</string>
	<key>eventPrototypeVisibility</key>
	<string>secondStoryboardCoord</string>
</dict>
</plist>
