<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completionAmongChain</key>
	<string>actionStageInset</string>
	<key>containerWorkMode</key>
	<string>rectByBuffer</string>
	<key>denseCacheDistance</key>
	<string>routerAndMediator</string>
	<key>exponentStructureBehavior</key>
	<string>boxshadowMementoFlags</string>
	<key>projectViaFunction</key>
	<string>hierarchicalConsumerInteraction</string>
	<key>resultVarResponse</key>
	<string>mediocreTextTag</string>
	<key>sharedContainerScale</key>
	<string>positionedExceptPrototype</string>
	<key>widgetModeTransparency</key>
	<string>primaryModulusBorder</string>
</dict>
</plist>
