<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>columnPerAction</key>
	<string>dialogsJobEdge</string>
	<key>dependencyProcessShape</key>
	<string>channelOrPhase</string>
	<key>isolateParamBottom</key>
	<string>gridDecoratorRotation</string>
	<key>multiStackAlignment</key>
	<string>protocolInsideShape</string>
	<key>promiseThroughObserver</key>
	<string>reducerInVar</string>
	<key>spriteAdapterCount</key>
	<string>methodThanLevel</string>
	<key>synchronousPositionTension</key>
	<string>completerInStage</string>
	<key>themeDecoratorScale</key>
	<string>certificateFromWork</string>
	<key>unactivatedDrawerCoord</key>
	<string>eventStateKind</string>
	<key>usageAdapterBrightness</key>
	<string>transformerLikeVisitor</string>
</dict>
</plist>
