<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>errorAboutCommand</key>
	<string>groupForPattern</string>
	<key>gestureNumberStyle</key>
	<string>matrixBesideFramework</string>
	<key>layerInPattern</key>
	<string>modulusProcessContrast</string>
	<key>numericalBrushPosition</key>
	<string>delegateDecoratorTint</string>
	<key>prismaticCapacitiesTop</key>
	<string>containerSystemFlags</string>
	<key>projectShapeOrientation</key>
	<string>accordionGradientTop</string>
	<key>sinkObserverVisible</key>
	<string>nextWidgetShade</string>
</dict>
</plist>
