<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationBesideFlyweight</key>
	<string>reducerAroundStrategy</string>
	<key>mediocreIsolateHead</key>
	<string>checkboxOfDecorator</string>
	<key>tappableTaskType</key>
	<string>custompaintAdapterTheme</string>
	<key>typicalResourceBound</key>
	<string>aspectratioStyleMode</string>
</dict>
</plist>
