<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletStructureMargin</key>
	<string>mediaAboutType</string>
	<key>crudePrecisionSaturation</key>
	<string>repositorySystemFeedback</string>
	<key>flexPerDecorator</key>
	<string>directlyTernarySkewx</string>
	<key>globalLayerVisibility</key>
	<string>standaloneSpriteInteraction</string>
	<key>groupInsideStrategy</key>
	<string>flexibleChartLeft</string>
	<key>mutableAnimatedcontainerName</key>
	<string>rapidColumnMode</string>
	<key>observerAmongSingleton</key>
	<string>builderObserverLeft</string>
	<key>queueNumberOpacity</key>
	<string>sizeWithBridge</string>
	<key>sensorPrototypeAlignment</key>
	<string>injectionModeCount</string>
</dict>
</plist>
