<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerDespiteParam</key>
	<string>lossModeTension</string>
	<key>interfaceDuringType</key>
	<string>sophisticatedInterpolationInteraction</string>
	<key>lostMetadataAcceleration</key>
	<string>animatedcontainerBesideJob</string>
	<key>nextLabelMode</key>
	<string>awaitModeDistance</string>
	<key>primaryCanvasCenter</key>
	<string>assetTypeDepth</string>
	<key>tensorNavigationSpeed</key>
	<string>stepSystemCoord</string>
</dict>
</plist>
