<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeResolverRate</key>
	<string>errorModeTint</string>
	<key>channelsStateBound</key>
	<string>plateAsMemento</string>
	<key>containerBufferOrigin</key>
	<string>sizeValueAlignment</string>
	<key>flexibleAlertTheme</key>
	<string>convolutionAdapterStyle</string>
	<key>interactorValueFeedback</key>
	<string>accessibleSizedboxAcceleration</string>
	<key>intuitiveScaleFlags</key>
	<string>containerSystemTag</string>
	<key>mobileObserverValidation</key>
	<string>isolateTempleDistance</string>
	<key>offsetFlyweightColor</key>
	<string>behaviorWithCycle</string>
	<key>oldEqualizationVisible</key>
	<string>menuFunctionDepth</string>
</dict>
</plist>
