<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionGridState</key>
	<string>textVariableRotation</string>
	<key>animationAndVariable</key>
	<string>otherButtonDirection</string>
	<key>apertureWorkName</key>
	<string>easyDurationDirection</string>
	<key>compositionalSemanticsHue</key>
	<string>checkboxOutsideSystem</string>
	<key>previewContainCycle</key>
	<string>commandViaCommand</string>
	<key>profileSystemAppearance</key>
	<string>musicThanPattern</string>
	<key>singletonPrototypeFeedback</key>
	<string>spotTaskBrightness</string>
	<key>timerDespiteValue</key>
	<string>singletonJobSaturation</string>
</dict>
</plist>
