<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonAlphaSize</key>
	<string>tabbarViaPattern</string>
	<key>functionalReferenceState</key>
	<string>resolverPrototypeColor</string>
	<key>pivotalFragmentDirection</key>
	<string>interfaceFacadeOpacity</string>
	<key>pointExceptWork</key>
	<string>persistentRepositoryVelocity</string>
	<key>prevEffectTail</key>
	<string>channelAdapterDensity</string>
	<key>progressbarWorkTheme</key>
	<string>crucialUsageSpacing</string>
</dict>
</plist>
