<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticAsyncInset</key>
	<string>smallSubscriptionOffset</string>
	<key>axisThanParameter</key>
	<string>channelAtPlatform</string>
	<key>concurrentTabbarOffset</key>
	<string>cubeShapeBorder</string>
	<key>coordinatorTypeTag</key>
	<string>sinkIncludeFacade</string>
	<key>retainedInteractorAcceleration</key>
	<string>sampleCommandKind</string>
</dict>
</plist>
