<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>momentumAsTask</key>
	<string>sineInsideAction</string>
	<key>resilientMatrixMargin</key>
	<string>draggableGesturedetectorLocation</string>
	<key>storeInVisitor</key>
	<string>builderAndWork</string>
	<key>visibleResolverAcceleration</key>
	<string>batchPatternTension</string>
</dict>
</plist>
