<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileContainerPosition</key>
	<string>descriptorPatternTransparency</string>
	<key>alignmentJobMomentum</key>
	<string>resilientResourcePadding</string>
	<key>backwardPlaybackPosition</key>
	<string>roleVersusActivity</string>
	<key>canvasInsideActivity</key>
	<string>diversifiedTangentLeft</string>
	<key>capacitiesInTask</key>
	<string>chapterByTask</string>
	<key>coordinatorLikeVariable</key>
	<string>independentRouteFeedback</string>
	<key>exponentIncludeCycle</key>
	<string>gemForPlatform</string>
	<key>fixedDimensionHead</key>
	<string>chartUntilMemento</string>
	<key>reactiveBitrateColor</key>
	<string>pageviewInType</string>
	<key>tabviewAndCycle</key>
	<string>widgetStrategyTransparency</string>
</dict>
</plist>
