<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintStructureMode</key>
	<string>rectObserverOffset</string>
	<key>futureVarBehavior</key>
	<string>basicStateBottom</string>
	<key>immediateFutureDistance</key>
	<string>specifyChannelLocation</string>
	<key>mainSlashKind</key>
	<string>paddingInType</string>
	<key>masterThanTemple</key>
	<string>normalGemPressure</string>
	<key>reducerSinceSingleton</key>
	<string>capsuleBeyondCycle</string>
	<key>semanticUsecaseFlags</key>
	<string>primaryAllocatorBehavior</string>
	<key>semanticsPhaseLocation</key>
	<string>secondAlignmentSpacing</string>
	<key>textSinceMethod</key>
	<string>greatPaddingPosition</string>
</dict>
</plist>
