<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryOrTier</key>
	<string>storeChainSpeed</string>
	<key>exceptionFromFunction</key>
	<string>primaryNibInteraction</string>
	<key>sineFrameworkAlignment</key>
	<string>concurrentViewName</string>
	<key>sliderAgainstVar</key>
	<string>positionedBeyondFunction</string>
	<key>sliderOrNumber</key>
	<string>greatAssetHead</string>
	<key>tweenBeyondSingleton</key>
	<string>sharedTransformerFrequency</string>
</dict>
</plist>
