<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioStrategyType</key>
	<string>resourceInsideProcess</string>
	<key>consultativeCompletionBound</key>
	<string>graphAgainstDecorator</string>
	<key>curveTypeTheme</key>
	<string>subsequentMemberRight</string>
	<key>lossMediatorHead</key>
	<string>multiConfigurationContrast</string>
	<key>opaqueCurveFlags</key>
	<string>immediateRowTail</string>
	<key>rectAgainstOperation</key>
	<string>nativeNavigatorMomentum</string>
	<key>sliderActivityInset</key>
	<string>signatureByType</string>
</dict>
</plist>
