<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveTypeOrigin</key>
	<string>nativePopupMode</string>
	<key>finalQueryRight</key>
	<string>usedBaselineMomentum</string>
	<key>operationAwaySingleton</key>
	<string>widgetVarBound</string>
	<key>primaryManagerOrientation</key>
	<string>sizePerMemento</string>
	<key>storeActionInteraction</key>
	<string>switchFormHue</string>
</dict>
</plist>
