<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constWidgetOffset</key>
	<string>graphDuringBuffer</string>
	<key>fixedCupertinoShape</key>
	<string>precisionLevelOpacity</string>
	<key>fragmentAroundStyle</key>
	<string>exceptionAtPrototype</string>
	<key>hardLayerBehavior</key>
	<string>diffableBoxValidation</string>
	<key>inactiveActionRight</key>
	<string>ignoredTechniqueHead</string>
	<key>labelAmongStrategy</key>
	<string>borderStateSkewx</string>
	<key>newestChapterOffset</key>
	<string>profileIncludeChain</string>
	<key>petLikeScope</key>
	<string>spriteFlyweightHead</string>
	<key>rectDecoratorBrightness</key>
	<string>labelPatternAcceleration</string>
	<key>smallAsyncRotation</key>
	<string>desktopExponentLocation</string>
</dict>
</plist>
