<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>materialChartTail</key>
	<string>optimizerJobPosition</string>
	<key>offsetAgainstContext</key>
	<string>primaryTimerBorder</string>
	<key>singleViewBrightness</key>
	<string>routerWithEnvironment</string>
	<key>statefulContainerForce</key>
	<string>memberFlyweightStyle</string>
	<key>ternaryPlatformRate</key>
	<string>notifierParameterTag</string>
</dict>
</plist>
