<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entropyInPrototype</key>
	<string>workflowSinceScope</string>
	<key>immediateCosineOrientation</key>
	<string>operationFromProxy</string>
	<key>nextChannelsDuration</key>
	<string>profileVersusMediator</string>
	<key>pivotalInterfaceEdge</key>
	<string>permanentNavigatorHue</string>
	<key>usecaseShapeOrigin</key>
	<string>newestBehaviorVisible</string>
</dict>
</plist>
