<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisBeyondTask</key>
	<string>inactiveSceneColor</string>
	<key>factoryMediatorDensity</key>
	<string>aspectInsideStage</string>
	<key>lazyAssetBehavior</key>
	<string>notificationSinceParam</string>
	<key>observerVariableShape</key>
	<string>spriteFunctionTail</string>
	<key>robustManagerSaturation</key>
	<string>dependencyBeyondStage</string>
	<key>scaffoldAboutContext</key>
	<string>animationChainTop</string>
	<key>stackTempleDirection</key>
	<string>sustainableProjectionVisible</string>
	<key>threadOrMode</key>
	<string>pivotalUtilMode</string>
	<key>viewAroundKind</key>
	<string>layerActionMomentum</string>
</dict>
</plist>
