<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveCubitMomentum</key>
	<string>optimizerProcessBottom</string>
	<key>backwardDecorationDelay</key>
	<string>fixedDescriptionCenter</string>
	<key>crucialExceptionTag</key>
	<string>alertCommandDirection</string>
	<key>directInterpolationInset</key>
	<string>singletonOutsideJob</string>
	<key>interactorInsideStructure</key>
	<string>topicMediatorAppearance</string>
	<key>iterativeRadiusSkewx</key>
	<string>publicExtensionRotation</string>
	<key>layoutKindBound</key>
	<string>sortedListenerDepth</string>
	<key>musicFromStyle</key>
	<string>routeWithoutForm</string>
	<key>navigatorLevelPosition</key>
	<string>publicBoxState</string>
	<key>normalModalInterval</key>
	<string>sequentialCurveName</string>
</dict>
</plist>
