<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedOffsetStyle</key>
	<string>gradientTempleTension</string>
	<key>functionalSliderBrightness</key>
	<string>sliderStateOpacity</string>
	<key>gesturedetectorOutsideActivity</key>
	<string>roleProxyOrientation</string>
	<key>pinchableCallbackValidation</key>
	<string>equipmentStateTag</string>
	<key>standaloneChecklistRotation</key>
	<string>channelOperationForce</string>
	<key>substantialScaffoldTop</key>
	<string>liteInterfaceBound</string>
	<key>ternaryVersusParameter</key>
	<string>unsortedHeroAlignment</string>
	<key>typicalRadioAlignment</key>
	<string>originalTitleDepth</string>
</dict>
</plist>
