<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorAroundFunction</key>
	<string>memberThroughInterpreter</string>
	<key>chapterVisitorLeft</key>
	<string>diversifiedProviderTheme</string>
	<key>intuitiveListenerSaturation</key>
	<string>convolutionStrategyTag</string>
	<key>memberFromLevel</key>
	<string>animatedIsolateFormat</string>
	<key>unactivatedOverlayBorder</key>
	<string>resourceStrategyEdge</string>
</dict>
</plist>
