<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentAlongTemple</key>
	<string>apertureBesideType</string>
	<key>cupertinoTaskTop</key>
	<string>dimensionPlatformLeft</string>
	<key>dependencyThanInterpreter</key>
	<string>histogramBufferSpacing</string>
	<key>fusedTitleAlignment</key>
	<string>textfieldFunctionDensity</string>
	<key>greatProviderBorder</key>
	<string>containerInsideValue</string>
	<key>hardEntityMargin</key>
	<string>transitionMediatorCount</string>
	<key>imageOutsideSystem</key>
	<string>capacitiesSinceCommand</string>
	<key>semanticTransitionOpacity</key>
	<string>composableLabelContrast</string>
	<key>widgetJobAlignment</key>
	<string>liteMediaqueryDirection</string>
</dict>
</plist>
