<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartActivityDirection</key>
	<string>allocatorChainSaturation</string>
	<key>commonChapterState</key>
	<string>titleBesideSystem</string>
	<key>cupertinoMementoCount</key>
	<string>ignoredCompleterFrequency</string>
	<key>dedicatedClipperAlignment</key>
	<string>hashContextFlags</string>
	<key>optimizerThanStructure</key>
	<string>statefulForTemple</string>
	<key>sinkStateMomentum</key>
	<string>cardOfKind</string>
	<key>sophisticatedParticleHead</key>
	<string>labelMediatorContrast</string>
	<key>spotPrototypeBrightness</key>
	<string>actionScopeInset</string>
</dict>
</plist>
