<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinoStyleHead</key>
	<string>methodDecoratorFormat</string>
	<key>difficultGridCoord</key>
	<string>semanticTransformerLeft</string>
	<key>normFrameworkIndex</key>
	<string>crucialObserverSpeed</string>
	<key>querySinceNumber</key>
	<string>pivotalRouterMomentum</string>
	<key>rowNumberDuration</key>
	<string>retainedFrameAppearance</string>
	<key>streamLayerTransparency</key>
	<string>semanticSinkMargin</string>
	<key>tangentWithoutLayer</key>
	<string>utilInSingleton</string>
</dict>
</plist>
