<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clipperLikeVar</key>
	<string>descriptionPerStyle</string>
	<key>enabledEntityFlags</key>
	<string>semanticFactoryMomentum</string>
	<key>mediaqueryAsValue</key>
	<string>loopActionIndex</string>
	<key>roleAwayComposite</key>
	<string>builderNumberLeft</string>
	<key>switchJobTag</key>
	<string>entropyContextTransparency</string>
</dict>
</plist>
