<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>matrixTierSaturation</key>
	<string>accordionTaskContrast</string>
	<key>segmentAmongNumber</key>
	<string>numericalDependencyLocation</string>
	<key>skirtNumberTop</key>
	<string>stampValueDirection</string>
	<key>smallSubscriptionName</key>
	<string>robustPlateShade</string>
	<key>textfieldForTemple</key>
	<string>remainderExceptPattern</string>
</dict>
</plist>
