<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileHeapInset</key>
	<string>enabledRowSkewx</string>
	<key>heapFrameworkTag</key>
	<string>capsuleAtAdapter</string>
	<key>indicatorFormSpacing</key>
	<string>containerFacadeLocation</string>
	<key>iterativeAlphaSkewy</key>
	<string>cacheAdapterMode</string>
	<key>materialResponseSaturation</key>
	<string>activatedButtonAlignment</string>
	<key>multiCertificateEdge</key>
	<string>elasticPromiseCenter</string>
	<key>techniqueByComposite</key>
	<string>progressbarThroughPhase</string>
	<key>techniqueVersusPhase</key>
	<string>documentAdapterVelocity</string>
</dict>
</plist>
