<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryStageShade</key>
	<string>textureAtStructure</string>
	<key>directCurveTint</key>
	<string>unsortedStorageAcceleration</string>
	<key>skinIncludeComposite</key>
	<string>popupAmongProxy</string>
	<key>streamStyleVisibility</key>
	<string>curveBridgeEdge</string>
	<key>vectorMediatorHead</key>
	<string>publicEquipmentStyle</string>
</dict>
</plist>
