<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>draggableTangentTail</key>
	<string>geometricCollectionOrientation</string>
	<key>firstCurveSkewx</key>
	<string>explicitLossStyle</string>
	<key>streamVersusCommand</key>
	<string>notifierActionLocation</string>
</dict>
</plist>
