<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryVariableMargin</key>
	<string>otherRowKind</string>
	<key>activatedLabelMode</key>
	<string>dependencyBridgeDepth</string>
	<key>catalystWithStructure</key>
	<string>reducerShapeShape</string>
	<key>errorProcessOrientation</key>
	<string>symmetricCustompaintBehavior</string>
	<key>extensionVersusChain</key>
	<string>variantWorkMode</string>
	<key>mutableCurveSkewy</key>
	<string>beginnerDrawerSpacing</string>
	<key>tangentModeSaturation</key>
	<string>skinCommandDepth</string>
</dict>
</plist>
